#btn-wave{
    overflow: hidden;
}
#btn-wave:hover{
    .wave{
        
        top: 0;
    }
    .span-wave {
        color:rgb(12, 74, 110);
        transition: 1s;
    }
}
.secondary-text{
    color: rgb(26, 194, 227);
}
.span-wave{
    position: absolute;
    z-index: 1;
    color: rgb(26, 194, 227);
}
.wave{
    position: absolute;
    top: calc(100% + 22px);
    left: 0;
    background-color: #00aeff;
    transition: 1s;
}

.wave::before{
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background-image: url(../assets/home/wave.png);
    animation: wave 0.5s linear infinite;
}

@keyframes wave {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 118px;
    }
}